// Colors
$colorMap:(
    fontGold: #fde577,
    fontLight: #fdfdfd,
    bgLight: #fdfdfd,
    bgDark: #161616
);

*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Lato', sans-serif;
}

// Breakpoints
$breakpoints: (
  small: 767px,
  medium: 992px,
  large: 1200px
);
